Processo Seletivo 2024.2/temp.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ContratoSLA">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Clausula" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Descricao" type="xs:string"/>
                            <xs:choice>
                                <xs:element name="Falhas">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Falha" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="Tipo" type="xs:string"/>
                                                        <xs:element name="Definicao" type="xs:string"/>
                                                        <xs:element name="TempoResposta" type="xs:integer"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="AtendimentoLocal">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="TempoResposta" type="xs:integer"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="Penalidade" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="TempoAtraso" type="xs:integer"/>
                                            <xs:element name="Descricao" type="xs:string" minOccurs="0"/>
                                            <xs:element name="PercentualDesconto" type="xs:decimal"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:integer" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
